* {
  margin: 0px;
  padding: 0px;
}

#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #9D9D9D;
  color: #ff6700;
  cursor: pointer;
  padding: 15px;
  border-radius: 25px;
}

.alertError {
  color: red;
}

.mainPage {
  /*background-color: #e1dfde;*/
  margin: 0 auto;
}

/*Home section*/
#home {
  height: 50vw;
}

.navList {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
}

.navList li {
  list-style: none;
  display: inline;
  font-size: 20px;
  padding-right: 25px;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  text-align: center;
  border: 2px solid #ff6700;
  margin: 0 auto;
  width: 600px;
  padding: 200px;
  margin-top: 210px;

}

.nameText {
  font-size: 30px;
}

.devText {
  font-size: 70px;
}

/*About section*/
#about {
  height: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bioText {
  width: 500px;
  line-height: 28px;
  font-size: medium;
  text-align: justify;
  padding-top: 20px;
}

.mainImage {
  width: 12%;
}

/*Projects section*/
#projects {
  height: 50vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.wraper {
  border: 2px solid #ff6700;
  padding: 30px;
}

/*#d0b8b8 #d9d5d4 */

.projectImage {
  height: 200px;
  filter: grayscale(1);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.projectImage:hover {
  filter: grayscale(0);
}

.description {
  width: 280px;
  text-align: justify;
  line-height: 25px;
}

.headline {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
}

/*Contact section*/
#contact {
  height: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input[type=text],
textarea {
  padding: 12px;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  width: 400px;
}

.contactButton button {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

label {
  position: relative;
  display: block;
}

#contact p {
  font-size: 50px;
}

/*Links*/
#footer {
  height: 200px;
  /*background-color: #04AA6D;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer p {
  font-size: 30px;
  padding-bottom: 25px;
}

i {
  padding-right: 10px;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  #home {
    height: auto;
  }

  .container {
    width: 600px;
    padding: 80px;
    margin-top: 50px;
  }

  .nameText {
    font-size: 20px;
  }

  .devText {
    font-size: 60px;
  }

  .bioText {
    padding-bottom: 40px;
  }

  #about {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  #projects {
    height: auto;
    display: grid;
    grid-template-columns: 25% 25%;
    justify-items: center;
    row-gap: 30px;
  }

  .wraper {
    width: 280px;
  }

  .mainImage {
    width: 28%;
  }

  #contact {
    height: auto;
    padding-top: 150px;
    padding-bottom: 150px;
  }

  #contact p {
    font-size: 40px;
  }

  #footer {
    height: 145px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #home {
    height: auto;
  }

  .navList {
    justify-content: center;
  }

  .nameText {
    font-size: 20px;
  }

  .devText {
    font-size: 40px;
  }

  .container {
    width: 240px;
    padding: 100px 150px;
    margin-top: 50px;
  }

  .mainImage {
    width: 40%;
  }

  #about {
    height: auto;
    padding: 100px;
  }

  #projects {
    height: auto;
    display: grid;
    grid-template-columns: 310px 310px;
    justify-content: space-evenly;
    row-gap: 30px;
  }

  .projectImage {
    height: 140px;
  }

  .headline {
    padding-top: 15px;
    padding-bottom: 8px;
    font-size: 15px;
  }

  .description {
    width: 250px;
    line-height: 25px;
  }

  #contact {
    height: auto;
    padding: 100px;
  }

  #contact p {
    font-size: 40px;
  }

  #footer {
    height: 100px;
  }

  #footer p {
    font-size: 25px;
    padding-bottom: 15px;
  }

  .fa-xl {
    font-size: 1.25em;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .navList li {
    padding-right: 15px;
  }

  #home {
    height: auto;
  }

  .devText {
    font-size: 25px;
  }

  .nameText {
    font-size: 15px;
  }

  .container {
    width: 150px;
    padding: 60px;
    margin-top: 15px;
  }

  #about {
    height: auto;
    padding-top: 100px;
  }

  .mainImage {
    width: 40%;
  }

  .bioText {
    width: 330px;
  }

  #projects {
    height: auto;
    display: grid;
    row-gap: 20px;
    padding-top: 100px;
  }

  #contact {
    height: auto;
    padding: 100px;
  }

  #contact p {
    font-size: 30px;
  }

  input[type=text],
  textarea {
    width: 340px;
  }

  #footer {
    height: 115px;
  }
}