* {
  padding: 0;
  margin: 0;
}

.adminDiv {
  width: 450px;
  min-height: 500px;
  height: auto;
  margin: 2% auto;
  padding: 2%;
  background-color: transparent;
  cursor: pointer;
}

.adminDiv h1 {
  color: #ccd6f6;
}

.adminInput:active,
.adminInput:focus,
.adminInput:hover {
  outline: none;
  border-bottom-color: #0091ff;
}

.adminInput {
  border: none;
  border-bottom: 2px solid #d1d1d4;
  background: none;
  padding: 10px;
  color: #fff;
}

.inputItem {
  padding-top: 45px;
  display: flex;
  flex-direction: column;
}

.inputItem label {
  color: #ccd6f6;
}

/*Button*/
.logIn {
  background-color: transparent;
  border: 1px solid #0091ff;
  color: #0091ff;
  font-size: 17px;
  padding: 15px 35px;
  letter-spacing: 3px;
  cursor: pointer;
  margin-top: 60px;
}

/*Data table*/
.headerText {
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 50px 0;
}

.tableWrapper {
  margin: 10px 70px 70px 50px;
}

.table {
  width: 70%;
  margin: 0 auto;
}

th,
td {
  padding: 15px;
  text-align: center;
}

.dataImage {
  width: 70px;
}

.dataDescription {
  width: 40%;
  line-height: 25px;
}

.addBtn {
  padding: 15px;
  margin-bottom: 20px;
  font-size: 14px;
  border-radius: 26px;
  border: 1px solid #d4d3e8;
  text-transform: uppercase;
  align-items: center;
  box-shadow: 0px 2px 2px #fa534c99;
  cursor: pointer;
}

#addBtn {
  display: flex;
  justify-content: flex-end;
  width: 84%;
  padding-bottom: 9px;
}

/*Edit Page*/
.editWraper {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.editForm {
  padding: 100px;
}

.editSubmitBtn {
  padding: 15px;
  font-size: 14px;
  border-radius: 26px;
  border: 1px solid #d4d3e8;
  text-transform: uppercase;
  align-items: center;
  color: #4c489d;
  box-shadow: 0px 2px 2px #5c5696;
  cursor: pointer;
}

#editSubmitBtn {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.label {
  padding-bottom: 20px;
}

@media (max-width: 1440px) {
  .table {
    width: auto;
  }

  #addBtn {
    width: auto;
  }

  td {
    padding: 5px;
  }
}

@media (max-width: 1024px) {}