* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #0a192f;
}

html {
  scroll-behavior: smooth;
}

.numberedHeader {
  font-size: 26px;
  color: #ccd6f6;
  font-weight: 600;
  margin: 20px;
}

#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 45px;
  border: none;
  color: #64ffda;
  background-color: transparent;
  cursor: pointer;
  border-radius: 25px;
}

.alertError {
  color: red;
}

.mainPage {
  margin: 0 auto;
}

/*Navbar section*/
.navList {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  margin-right: 30px;
}

.navList li {
  list-style: none;
  padding: 10px;
  color: #a8b2d1;
  font-size: 13px;
}

a {
  text-decoration: none;
  color: #a8b2d1;
  font-size: 16px;
  padding: 10px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.navList li a:hover {
  color: #64ffda;
}

/*Home section*/
#home {
  height: 50vw;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin: 0 auto;
  width: 50%;
  height: 70vh;
}

.homeSectionCenter h1 {
  margin: 10px 0;
  color: #64ffda;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.1;
}

.homeSectionCenter h3 {
  margin: 10px 0;
  line-height: 0.9;
  color: #8892b0;
}

.homeSectionCenter p {
  margin: 10px 0;
  max-width: 540px;
  font-size: 22px;
  line-height: 1.2;
  color: #22585e;
}

.contactLink {
  margin: 35px 0;
  border-radius: 6px;
}

.contactLink a {
  border: 1px solid #64ffda;
  color: #64ffda;
  padding: 15px 90px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: small;
}

.bigHeader {
  margin: 10px 0;
  font-size: 70px;
  color: #ccd6f6;
  line-height: 1.1;
}

/*About section*/
#about {
  height: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.aboutContent {
  border-top: 1px solid #8892b0;
  border-bottom: 1px solid #8892b0;
  width: 50%;
  display: flex;
}

.aboutMeHeader {
  font-size: 26px;
  color: #ccd6f6;
  font-weight: 600;
  margin: 20px;
}

.bioText {
  width: 60%;
  text-align: justify;
}

.aboutText {
  padding: 25px;
  color: #22585e;
  font-size: 19px;
  line-height: 1.4;
}

span {
  color: #a8b2d1;
}

.bioImage {
  text-align: center;
  width: 60%;
}

.profileImage {
  width: 35%;
  margin: 30px 0;
  border: 1px solid #22585e;
}

.profileImage:hover {
  opacity: 1;
}

/*Projects section*/
#projects {
  margin: 0 auto;
  padding: 100px 0;
  max-width: 1000px;
}

.projectsWrapper {
  border-top: 1px solid #8892b0;
  border-bottom: 1px solid #8892b0;
}

ul {
  list-style: none;
}

.wraper {
  padding: 0;
  margin: 0;
}

.listProjects {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
  gap: 10px;
  text-align: right;
}

.projectContent {
  grid-area: 1 / 2;
}

.projectImageWrapper {
  position: static;
  max-width: 100%;
  margin: 60px 0;
}

.projectImage {
  filter: opacity(0.3);
}

.projectImage:hover {
  filter: opacity(1);
}

.headline {
  margin: 0 0 20px;
  color: #a8b2d1;
  font-size: 26px;
  font-weight: 600;
  line-height: 1, 1;
  z-index: 1;
  position: relative;
  display: inline-block;
}

.descriptionWrapper {
  position: relative;
  z-index: 2;
  padding: 25px;
  margin-bottom: 25px;
  background-color: #112240;
  color: #a8b2d1;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 1px;
}

/*Contact section*/
#contact {
  width: 100%;
  display: flex;
  min-height: 50vh;
}

.contactContainer {
  width: 50%;
  margin: 0 auto;
}

.contact {
  min-height: 500px;
  border-radius: 5px;
  margin: 25% auto;
  padding: 2%;
}

.contactText {
  text-align: center;
  font-size: 40px;
  letter-spacing: 8px;
  color: #8892b0;
}

.contactText p {
  padding-bottom: 25px;
}

.contactWrapper {
  width: 400px;
  border-radius: 5px;
  margin: 0 auto;
  padding-top: 30px;
}

.contactForm,
.contactMessage {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #22585e;
  padding: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  width: 400px;
  cursor: pointer;
  color: aliceblue;
}

.contactForm:active,
.contactForm:focus,
.contactForm:hover,
.contactMessage:active,
.contactMessage:focus,
.contactMessage:hover {
  outline: none;
  border-bottom-color: #64ffda;
}

.contactLabel {
  color: #8892b0;
}

.contactButton button {
  background-color: transparent;
  border: 1px solid #64ffda;
  color: #64ffda;
  font-size: 17px;
  padding: 15px 35px;
  letter-spacing: 3px;
  cursor: pointer;
}

/*Links*/
.footer {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #8892b0;
  margin-top: 100px;
}

.footer p {
  color: #22585e;
  font-size: 30px;
  padding-bottom: 25px;
}

.footerBottom {
  padding-top: 40px;
  color: #8892b0;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 320px) and (max-width: 767px) {
  #home {
    height: auto;
  }

  .navList {
    margin: 0;
  }

  .navList li {
    padding: 0;
  }

  .navBar {
    display: flex;
    justify-content: center;
  }

  #about {
    height: auto;
  }

  .aboutContent {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  .bioText {
    width: 100%;
  }

  .bioImage {
    width: 100%;
  }

  .homeContainer {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    align-items: center;
  }

  .bigHeader {
    font-size: 44px;
  }

  .headline {
    padding-right: 15px;
  }

  .homeSectionCenter {
    margin: 10px;
  }

  .homeSectionCenter p {
    font-size: 17px;
    letter-spacing: 2px;
  }

  .listProjects {
    display: flex;
    flex-direction: column-reverse;
  }

  .projectImage {
    width: 300px;
  }

  .descriptionWrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .contactContainer {
    width: 100%;
  }

  .contactForm,
  .contactMessage {
    width: 250px;
  }

  .contactCentered {
    display: flex;
    flex-direction: column;
  }

  .contactWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
  }

  .contactButton {
    margin-top: 50px;
  }

  .contactText p {
    font-size: 28px;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 1800px) {
  #home {
    height: auto;
  }

  .homeContainer {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    align-items: center;
  }

  #about {
    height: auto;
    margin-top: 150px;
    margin-bottom: 150px;
  }

  .aboutContent {
    width: 100%;
  }

  #projects {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profileImage {
    width: 80%;
  }

  .projectsWrapper {
    padding: 0 60px;
  }

  .projectImage {
    width: 400px;
  }
}